<div class="container">
	<form role="form">
  <div class="form-group">
  
  	<label for="location">Location</label><br>
  	<select class="form-control" ng-model="locat">
  		<option>New York</option>
  		<option>Los Angeles</option>
  		<option>Boston</option>
  		<option>San Francisco</option>
  	</select>
  
     
  </div><br><br>
  
  	<div class="row">
  
  	<div class="form-group">
      <label for="datedep">Date depart:</label>
      <input type="date" class="form-control" ng-model="depart">
    </div><br><br>
    <div class="form-group">
      <label for="dateren">Date Return:</label>
      <input type="date" class="form-control" ng-model="retrn">
    </div>
    <a href="#/contact"><button type="submit" class="btn btn-default" ng-click="submit1()">Next</button></a>
  </form>
</div>
</div>
</div>
<br><br>
