<div class="jumbotron">
  <div class="container">
  
  <form role="form">
    <div class="form-group">
      <label for="fname">First Name:</label>
      <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" ng-model="fname" required>
    </div>
    <div class="form-group">
      <label for="lname">Last Name:</label>
      <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" ng-model="lname" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Phone:</label>
      <input type="number" class="form-control" id="phn" placeholder="Enter Phone No" name="phone" ng-model="phone" required>
    </div>
    
    <a href="#/about"><button type="submit"  ng-click="submit()" class="btn btn-default">Next</button></a>
  </form>
</div>

  
</div>
